/* Helper classes. */
.inline {
  display: inline;
}

.fa {
  color: #a84a9e;
}

a:hover .fa {
  color: #f40669;
}

.fa-facebook {
  color: white;
}

.bold {
  font-weight: 700;
}
/* End Helper classes. */

.node__body {
  margin-top: 20px;
  margin-bottom: 20px;
}

.node__duration {
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

.fl-left {
  float: left;
}

.family-lobster {
  font-family: 'Lobster';
}

.align-left {
  margin-right: 20px;
}

.align-right {
  margin-left: 20px;
}

.link-back {
  display: block;
  margin-bottom: 10px;
}

.link-back .fa {
  margin-right: 2px;
}

.box-shadow {
  box-shadow: 0 0 10px 0px #2e2e2e;
}